* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #f8f8f8;
  padding: 10px;
}

header h1 {
  display: inline-block;
}

header select {
  float: right;
  margin-top: 20px;
}

main {
  margin: 20px;
}

footer {
  background-color: #f8f8f8;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}